* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, #8e9eab, #eef2f3);
  z-index: -1;
}

.logo {
  grid-column: 2/3;
  font-size: 24px;
}

section {
  display: flex;
  /* height: 100vh; */
  /* justify-content: center;
  align-items: center; */
}

.hero {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-image {
  background-image: url("./images/4.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-attachment: fixed;
}

.headline {
  position: absolute;
  color: whitesmoke;
  z-index: 3;
  filter: drop-shadow(0px 10px 3px black);
}

.headline h1 {
  font-size: 8vw;
}


.hero::after{ 
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.05;
  left: 0;
  top: 0;
}

#aboutme h2 {
  font-size: 4vw;
}

#aboutme {
  background-color: #f5f5f5;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about-img img{ 
  width: 85%;
}

#aboutme li {
  list-style-type: none;
  padding-top: 10px;
}

#education h2{
  font-size: 4vw;
  padding-top: 4.5vw;
  padding-bottom: 5vw;
}

#education {
  padding-bottom: 4.5vw;
}

#education p {
  padding-bottom: 1vw;
}

.school {
  width: 5vw;
}

.school img{
  width: 100%;

}

.uni {
  width: 5vw;
}

.uni img {
  width: 100%;
}
.cert {
  width: 25vw;
}

.cert img{
  width: 100%;

}

#skill {
  background-color: #f5f5f5;
  padding-bottom: 4.5vw;
}

#skill h2 {
  font-size: 4vw;
  padding-top: 4.5vw;
  padding-bottom: 5vw;
}

.tool {
  width: 5.5vh;
  text-align: center;
  margin-bottom: 2vh;
}

.tool img {
  width: 73%;
}

.time {
  padding-left: 3vw;
}

.line p {
  text-align: center;
}

.line {
  height: 12vh;
  border-left: 2px solid black;
}

#project {
  justify-content: center;
  align-items: center;
  padding-bottom: 4.5vw;
}

#project h2 {
  font-size: 4vw;
  padding-top: 4.5vw;
  padding-bottom: 5vw;
}

#project table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #dddddd;
}

#project a{
  color: black;
}

#project img {
  width: 15%;
}

.copy-center {
  margin: auto;
  text-align: center;
}

#footer h2 {
  padding-bottom: 1.5vh;
}

.boder-left {
  border-left: 1px solid black;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

@media (max-width: 1024px) {

  #aboutme {
    height: unset;
  }

  .inside {
    position: relative;
    height: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
  }

  .pat-2 {
    padding-top: 2vw;
  }

  #aboutme h2{
    font-size: 5vw;
  }

  #education h2{
    font-size: 5vw;
  }

  #education h3{
    font-size: 3.5vw;
  }

  .text-center {
    text-align: center;
  }

  .boder-left {
    border-left: unset;
  }

  .school {
    margin: auto;
    width: 10vw;
  }

  .uni {
    margin: auto;
    width: 10vw;
  }

  .cert {
    width: 35vw;
    margin: auto;
  }

  .pack-edu {
    padding-top: 2vw;
    padding-bottom: 2vw;
  }

  .border-bot {
    border-bottom: unset;
  }

  .tool {
    width: unset;
    margin-bottom: 3vh;
  }

  .dis-block {
    display: block;
  }

  .tool img {
    width: 20%;
  }

  #skill h2 {
    text-align: center;
    font-size: 5vw;
  }

  #skill h3 {
    text-align: center;
    font-size: 3.5vw;
    margin-top: 3vw;
  }

  #project {
    padding-bottom: 10vw;
  }

  #project h2{
    font-size: 5vw;
  }

  #project h3{
    font-size: 3.5vw;
    padding-top: 3vw;
  }
}


